-- MySQL dump 10.13  Distrib 8.0.34, for Win64 (x86_64)
--
-- Host: localhost    Database: skillpulse
-- ------------------------------------------------------
-- Server version	8.0.34

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `availability`
--

DROP TABLE IF EXISTS `availability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `availability` (
  `id` int NOT NULL AUTO_INCREMENT,
  `worker_id` int NOT NULL,
  `available_date` date NOT NULL,
  `is_available` tinyint(1) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_worker_date` (`worker_id`,`available_date`),
  CONSTRAINT `availability_ibfk_1` FOREIGN KEY (`worker_id`) REFERENCES `worker_profiles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `availability`
--

LOCK TABLES `availability` WRITE;
/*!40000 ALTER TABLE `availability` DISABLE KEYS */;
INSERT INTO `availability` VALUES (1,1,'2026-09-27',1,'2026-09-26 12:45:25'),(2,2,'2026-09-27',0,'2026-09-26 12:45:25'),(3,3,'2026-09-27',1,'2026-09-26 12:45:26');
/*!40000 ALTER TABLE `availability` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contractor_profiles`
--

DROP TABLE IF EXISTS `contractor_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contractor_profiles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `company_name` varchar(150) NOT NULL,
  `contact_person` varchar(120) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `latitude` float DEFAULT NULL,
  `longitude` float DEFAULT NULL,
  `area_text` varchar(200) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `contractor_profiles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contractor_profiles`
--

LOCK TABLES `contractor_profiles` WRITE;
/*!40000 ALTER TABLE `contractor_profiles` DISABLE KEYS */;
INSERT INTO `contractor_profiles` VALUES (1,2,'Bangalore Build Co.','Ramesh Gowda','9900011122',12.9352,77.6245,'Koramangala, Bangalore','2026-09-26 12:45:25','2026-09-26 12:45:25'),(2,6,'ramco','ravi','6534213487',NULL,NULL,NULL,'2026-09-27 11:26:10','2026-09-27 11:26:10'),(3,7,'ABC','XYZ','1234567890',NULL,NULL,NULL,'2026-10-08 14:46:28','2026-10-08 14:46:28'),(4,8,'olive garden','Pratima R','2345678901',NULL,NULL,NULL,'2026-10-08 14:47:26','2026-10-08 14:47:26');
/*!40000 ALTER TABLE `contractor_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_applications`
--

DROP TABLE IF EXISTS `job_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_applications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `job_id` int NOT NULL,
  `worker_id` int NOT NULL,
  `match_score` float NOT NULL,
  `score_breakdown` json DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `applied_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_job_worker` (`job_id`,`worker_id`),
  KEY `worker_id` (`worker_id`),
  CONSTRAINT `job_applications_ibfk_1` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`),
  CONSTRAINT `job_applications_ibfk_2` FOREIGN KEY (`worker_id`) REFERENCES `worker_profiles` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_applications`
--

LOCK TABLES `job_applications` WRITE;
/*!40000 ALTER TABLE `job_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `contractor_id` int NOT NULL,
  `skill_id` int NOT NULL,
  `workers_required` int NOT NULL,
  `job_date` date NOT NULL,
  `latitude` float NOT NULL,
  `longitude` float NOT NULL,
  `area_text` varchar(200) DEFAULT NULL,
  `wage` float NOT NULL,
  `working_hours` varchar(50) DEFAULT NULL,
  `min_experience` float NOT NULL,
  `description` text,
  `status` varchar(20) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `contractor_id` (`contractor_id`),
  KEY `skill_id` (`skill_id`),
  CONSTRAINT `jobs_ibfk_1` FOREIGN KEY (`contractor_id`) REFERENCES `contractor_profiles` (`id`),
  CONSTRAINT `jobs_ibfk_2` FOREIGN KEY (`skill_id`) REFERENCES `skills` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
INSERT INTO `jobs` VALUES (1,1,1,1,'2026-09-27',12.9352,77.6245,'Koramangala, Bangalore',800,'9:00 AM - 5:00 PM',1,'Interior wall painting - SkillPulse demo job','POSTED','2026-09-26 12:45:26','2026-09-26 12:45:26'),(2,2,1,1,'2026-09-28',1,2,'kora',757,'9:00 AM - 5:00 PM',0.5,'need painter','POSTED','2026-09-27 11:27:17','2026-09-27 11:27:17');
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `message` varchar(255) NOT NULL,
  `notif_type` varchar(50) NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ratings`
--

DROP TABLE IF EXISTS `ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ratings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `job_application_id` int NOT NULL,
  `rating_value` int NOT NULL,
  `comment` text,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `job_application_id` (`job_application_id`),
  CONSTRAINT `ratings_ibfk_1` FOREIGN KEY (`job_application_id`) REFERENCES `job_applications` (`id`),
  CONSTRAINT `chk_rating_range` CHECK (((`rating_value` >= 1) and (`rating_value` <= 5)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ratings`
--

LOCK TABLES `ratings` WRITE;
/*!40000 ALTER TABLE `ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `ratings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skills`
--

DROP TABLE IF EXISTS `skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skills` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(80) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skills`
--

LOCK TABLES `skills` WRITE;
/*!40000 ALTER TABLE `skills` DISABLE KEYS */;
INSERT INTO `skills` VALUES (5,'Carpenter'),(4,'Electrician'),(3,'Mason'),(1,'Painter'),(2,'Plumber');
/*!40000 ALTER TABLE `skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(120) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('worker','contractor','admin') NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_users_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worker_profiles`
--

DROP TABLE IF EXISTS `worker_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `worker_profiles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `full_name` varchar(120) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `latitude` float DEFAULT NULL,
  `longitude` float DEFAULT NULL,
  `area_text` varchar(200) DEFAULT NULL,
  `expected_wage` float NOT NULL,
  `experience_years` float NOT NULL,
  `verification_status` enum('pending','verified','rejected') NOT NULL,
  `verification_document_path` varchar(255) DEFAULT NULL,
  `reliability_score` float NOT NULL,
  `jobs_completed` int NOT NULL,
  `jobs_accepted` int NOT NULL,
  `jobs_cancelled` int NOT NULL,
  `average_rating` float NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `worker_profiles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worker_profiles`
--

LOCK TABLES `worker_profiles` WRITE;
/*!40000 ALTER TABLE `worker_profiles` DISABLE KEYS */;
INSERT INTO `worker_profiles` VALUES (1,3,'Suresh Kumar (Worker A)','9988877766',12.9121,77.6446,'HSR Layout, Bangalore',750,4,'verified',NULL,0.871111,8,9,1,4.5,'2026-09-26 12:45:25','2026-09-26 12:45:25'),(2,4,'Manoj Reddy (Worker B)','9988877767',12.9719,77.6412,'Indiranagar, Bangalore',780,2,'verified',NULL,0.584,3,5,2,3.8,'2026-09-26 12:45:25','2026-09-26 12:45:25'),(3,5,'Farid Ahmed (Worker C)','9988877768',12.9698,77.75,'Whitefield, Bangalore',700,5,'verified',NULL,0.984,10,10,0,4.8,'2026-09-26 12:45:26','2026-09-26 12:45:26');
/*!40000 ALTER TABLE `worker_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worker_skills`
--

DROP TABLE IF EXISTS `worker_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `worker_skills` (
  `worker_id` int NOT NULL,
  `skill_id` int NOT NULL,
  PRIMARY KEY (`worker_id`,`skill_id`),
  KEY `skill_id` (`skill_id`),
  CONSTRAINT `worker_skills_ibfk_1` FOREIGN KEY (`worker_id`) REFERENCES `worker_profiles` (`id`),
  CONSTRAINT `worker_skills_ibfk_2` FOREIGN KEY (`skill_id`) REFERENCES `skills` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worker_skills`
--

LOCK TABLES `worker_skills` WRITE;
/*!40000 ALTER TABLE `worker_skills` DISABLE KEYS */;
INSERT INTO `worker_skills` VALUES (1,1),(2,1),(3,2);
/*!40000 ALTER TABLE `worker_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'skillpulse'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-09 21:51:21
